@mixin koelestijl () {
    
    width: 100px;
    height: 50px;
    border: green 3px solid;
    background-color: brown;
    ​color​: yellow;

        &:hover{
    
         background-color:royalblue;
         color: hotpink;
         transition-duration: 1s;
    }
}


.button {
    @include koelestijl();
}
