$background-color: rgb(175, 127, 127);
$text-color: rgb(83, 77, 64);

.footer 
{
    background-color: $background-color;
    
}
.footer > div 
{
    display: flex;
    width:80vw;
    padding: 20px 0 40px 20vw;
    justify-content: center;
    color: $text-color;
}

.footer .contact {
    width: 50%;
}

.footer .contact section
{
    width:80%;
    float:right;
}

.footer .contact section p
{
    margin:0;
}